body {
	font-family: sans-serif;
}
a {
.level {
	&:not(:last-child) {
		border-bottom: 1px solid lightgrey;
	}
	margin-bottom: 0;
	padding: 7px 0px;	
	&:hover {
		background-color: lightgrey;
		}
	}
}
.polls {
	background-color: white;
	border: 1px solid lightgrey;
	a {
		color: #7a7a7a;
		&:hover {
			color: black;
		}
	}
}
textarea {
	resize: none;
}
.fa {
	margin-right: 7px;
}
.twitterer {
	color: white !important;
	vertical-align: middle !important;
	font-size: 1rem;
	border: none;
	background-color:#00d1b2;
	&:hover {
		cursor: pointer;
		background-color:#07b59a;
	}
	svg {
		color: white !important;
	}
}