body {
	font-family: sans-serif;
}
a {
.level {
	&:not(:last-child) {
		border-bottom: 1px solid lightgrey;
	}
	margin-bottom: 0;
	padding: 7px 0px;	
	&:hover {
		background-color: lightgrey;
		}
	}
}
.polls {
	background-color: white;
	border: 1px solid lightgrey;
	a {
		color: #7a7a7a;
		&:hover {
			color: black;
		}
	}
}
textarea {
	resize: none;
}
.icon {
	margin-right: 4px;
}